.some-space {
    height: 30px;
}
#center-page{
    display: grid;
    grid-template-columns: 375px auto 20px 1fr 10px 1fr;
    align-items: center;
    height: 580px;
}
#info {
    display: grid;
    grid-column: 1;
    background-color: lightgray;
    text-align: center;
    height: 580px;
}
#promotion-info {
    display: grid;
    grid-column: 6;
    background-color: lightgray;
    text-align: center;
    height: 580px;
}
#promotion-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.promotion-image {
    border: 3px solid black;
    justify-self: center;
}
#cancel-promotion {
    justify-self: center;
    width: 120px;
    height: 40px;
}
.promotion-image:hover {
    cursor: pointer;
}
#show-correct-answer {
    justify-self: center;
    width: 225px;
    height: 30px;
}
#chess-board {
    display: grid;
    grid-column: 2;
    grid-template-columns: 15px repeat(8, 70px);
    grid-template-rows: repeat(8, 70px) 20px;
    text-align: center;
    width: 570px;
    height: 580px;
}
.square {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white {
    background-color: #f0d9b5;
}
.black {
    background-color: #b58863;
}
.coord {
    display: grid;
    place-items: center;
}
div:has(> .figure):hover {
    cursor: pointer;
}
div:has(> .possible-move):hover {
    cursor: pointer;
}
#get-puzzle {
    display: block;
    margin: 0 auto;
}

#notation-puzzles {
    grid-column: 4;
    background-color: lightgray;
    height: 580px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #ccc;
}
.notation-table-wrapper {
    flex: 1;
    overflow-y: auto;
}
#notation-puzzles table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;  
    table-layout: fixed;
    text-align: center;
    background-color: white;
}
#notation-puzzles thead {
    background-color: #eee;
    font-weight: bold;
    border-bottom: 2.5px solid #666;
}
#notation-puzzles th, 
#notation-puzzles td {
    padding: 12px 8px;  
    border: 1.5px solid #ccc;  
    word-wrap: break-word;
    background-color: white; 
}
#notation-puzzles table th:first-child,
#notation-puzzles table td:first-child {
  width: 20px; 
  max-width: 20px;
  white-space: nowrap; 
}
#notation-puzzles tbody tr {
    background-color: transparent; 
}
#notation-puzzles tbody tr:nth-child(odd) th, 
#notation-puzzles tbody tr:nth-child(odd) td {
    background-color: #f9f9f9; 
}